body {
    background: #363636;
    background: -webkit-linear-gradient(to bottom, whitesmoke, lightgreen);
    background: linear-gradient(to bottom, whitesmoke, lightgreen);
    background-repeat: no-repeat;
    background-attachment: fixed;
    }

    h1 {
        margin-top: 5%;
        font-size: 300%;
        text-align: center;
        font-family: fantasy;
      }