@charset "utf-8";

      body {
        background: #363636;
        background: -webkit-linear-gradient(to bottom, #CFCFCF, #363636);
        background: linear-gradient(to bottom, #CFCFCF, #363636);
        background-repeat: no-repeat;
        background-attachment: fixed;
        }

      .head {
        width: 90%;
        text-align: center;
        margin-top: 3%;
      }

      #modalAluno {
        margin-right: 1%;
      }

      #modalProf {
        margin-right: 1%;
      }

      #search {

      }

      .mid {
        width: 90%;
      }

      #noticias {
        margin-top: 3%;
        margin-left: 2%;
        border: 1px solid #363636;
        border-radius: 30px;
      }

      #outrasCoisas {
        margin-top: 3%;
        margin-left: 2%;
        border: 1px solid #363636;
        border-radius: 30px;
      }
